.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &.inactive {
    opacity: 0.4;
  }
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}
