.menuItem {
  display: flex;
  gap: 0.625rem; /* gap-2.5 */
  align-items: center;
  padding: 0.375rem var(--layout); /* py-1.5 px-layout */
  margin-top: 0.5rem; /* mt-2 */
  border-radius: 0.5rem; /* rounded-lg */
  transition: background-color 0.2s; /* transition-colors */

  &:hover {
    background-color: var(--border); /* hover:bg-border */
  }
}
